In [1]:
cd ..

d:\J.H.LEE\05. CODING\Python\Project\labwons

In [2]:
from datetime import datetime
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import pandas as pd
import labwons as lw

In [3]:
equity = lw.Equity('SPY')

In [4]:
equity.trend

fig = make_subplots(
    rows=2, cols=3,
)

traces = list()
for col in equity.trend.columns:
    model = pd.concat(objs=[equity.trend[col], equity.typical], axis=1)
    model = model.dropna()
    model[f'Diff-{col}'] = 100 * (model[model.columns[1]] / model[model.columns[0]] - 1)
    traces.append(
        go.Scatter(
            name=f'Diff-{col}',
            x=model.index,
            y=model[f'Diff-{col}'],
            meta=model[model.columns[1]],
            text=model[model.columns[0]],
            hovertemplate='%{y:.2f}<br>' + model.columns[1] + ': %{meta:.2f}<br>' + model.columns[0] + ': %{text}<extra></extra>'
        )
    )

# model = pd.concat(objs=[equity.trend['TL(H)'], equity.typical], axis=1)
# model = model.dropna()
# model['Diff'] = 100 * (model[model.columns[1]] / model[model.columns[0]] - 1)
# # _1m['Diff'] = _1m[_1m.columns[1]] - _1m[_1m.columns[0]]
# model = model[model.index >= datetime(2010, 5, 1).date()]
# fig = go.Figure(
#     data=go.Scatter(
#         name='Diff',
#         x=model.index,
#         y=model['Diff'],
#         meta=model[model.columns[1]],
#         text=model[model.columns[0]],
#         hovertemplate='%{y:.2f}<br>' + model.columns[1] + ': %{meta:.2f}<br>' + model.columns[0] + ': %{text}<extra></extra>'
#     )
# )
# fig.show()

             TL(A)   TL(H)   TL(Q)  TL(3Y)  TL(1Y)  TL(6M)
time
2003-08-04    6.30     NaN     NaN     NaN     NaN     NaN
2003-08-05    6.34     NaN     NaN     NaN     NaN     NaN
2003-08-06    6.39     NaN     NaN     NaN     NaN     NaN
2003-08-07    6.44     NaN     NaN     NaN     NaN     NaN
2003-08-08    6.49     NaN     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...     ...
2023-07-28  356.71  426.25  451.87  427.07  430.80  445.71
2023-07-31  356.86  426.51  452.21  427.22  431.29  446.71
2023-08-01  356.91  426.59  452.32  427.28  431.45  447.04
2023-08-02  356.95  426.68  452.44  427.33  431.61  447.37
2023-08-03  357.00  426.77  452.55  427.38  431.77  447.70

[5035 rows x 6 columns]